*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    margin: 250px;
    height: 700px;
    width: 600px;
    border-radius: 10px;
}

.display{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 500px;
    margin-bottom: 50px;  
    margin-top: 20px;  
    border: 1px solid rgb(168, 168, 168);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 3px #d6d0d0;
    text-align: right;
    font-size: 35px;
    text-align: end;

}


.btn-main {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4,1fr);
    justify-items: center;
    color: rgb(182, 182, 182); 
}

.container{
    width: 100%;
}

.btn {    
    width: 100px;
    height: 100px;   
    justify-content: center;
    align-items: center;
    margin: 10px;  
    box-shadow: 2px 2px 10px 3px #d6d0d0;
    
}

